.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0px 40px;
  gap: 20px;
  @apply bg-black;
  /* background: #e0e5ec */
}
.buttons {
  @apply flex justify-center items-center w-full gap-5;
}
.btn {
  @apply text-white;
}

