.button {
  min-width: 100px;
  height: 42px;

  padding: 0 1rem;
  border-radius: 4px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: all 0.27s;

  box-sizing: border-box;
}
.button.access {
  @apply text-white;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  font-size: 15px;
  font-weight: 500;
}

.button.access:hover {
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button.access:active {
  background-color: #2ec26c;
}


.button.original {
  @apply text-black;
  background-color: #ffe54c;
  font-size: 15px;
  font-weight: 500;
}

.button.original:hover {
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button.original:active {
  background-color: #fceb8b;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.button.warn {
  background-color: #FF013C;
  font-size: 15px;
  font-weight: 500;
}

.button.warn:hover {
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button.warn:active {
  background-color: #fb5178
}